# ---- PlatformIO ----
.pio/
.pioenvs/
.piolibdeps/
*.bin
*.elf
*.map

# ---- VS Code ----
.vscode/
!.vscode/extensions.json

# ---- ESP-IDF ----
build/
sdkconfig.old
managed_components/

# ---- Node-RED / Node.js ----
node_modules/
.node-red/.config*
.node-red/.sessions.json
npm-debug.log

# ---- TIA Portal (manter apenas o projeto compactado) ----
*.ap1*~
~AutoSave/
*.bak

# ---- Sistema ----
.DS_Store
Thumbs.db
*.tmp
